<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/css/directors.css">
</head>
<body>
<div id="background"></div>
<header>
    <%- include('../partials/header') -%>
</header>

<main>
    <p>Total directors : <%- directors.length -%></p>
    <ul class="flex-container">
        <% directors.forEach((director)=>{ %>
            <a href="/directors/<%- director.id -%>"><li class="flex-item"><%- director.name -%></li></a>
        <% }) %>
    </ul>
</main>

<footer>
    <%- include('../partials/footer') -%>
</footer>

</body>
</html>